.body{
    font-family: 'Roboto','Raleway', sans-serif;
    font-weight: 700;
}
.links{
    color: #434455
}
.links:hover,
.links:focus{
    color: #404BBF;

}
.button{
    color: #4D5AE5;
}
.button:hover,
.button:focus{
    color: #404BBF;

}
